In [26]:
from bs4 import BeautifulSoup
import requests
import csv

url = "https://www.imdb.com/chart/toptv/?ref_=nv_tvv_250"
#url2 = "https://www.imdb.com/title/tt5491994/reviews?ref_=tt_ov_rt"
page = requests.get(url)
#page2 = requests.get(url2)

soup = BeautifulSoup(page.text, 'html.parser')
#soup2 = BeautifulSoup(page2.text, 'html.parser')

raw_html = soup.find("tbody",{"class":"lister-list"}).findAll("tr")
#raw_html2 = soup2.find("section",{"class":"article"}).findAll("div",{"class":"lister-item-content"})


def main_fun():
    movies_list = []
    for html_t in raw_html:
        title = html_t.find("td", {"class":"titleColumn"}).find("a").get_text()
        rating = html_t.find("td", {"class":"ratingColumn imdbRating"}).find("strong").get_text()
        rating = float(rating)
    
        if rating >= 9:
            raw_list = [title,rating]
            movies_list.append(raw_list)
    
    recommendation(movies_list)
    create_csv(movies_list)


#    for html_rev in raw_html2:
#        review = html_rev.find("div",{"class":"content"}).find({"class":"text show-more__control clickable"})
#        print(review)
        
def recommendation(m_list):
    for x in range(len(m_list)):
        if m_list[x][1]>9:
            print(m_list[x][0])




def create_csv(movies):
    with open('movies.csv','w') as csvfile:
        writer = csv.writer(csvfile)
        row = ['Name','Rating']
        writer.writerow(row)
        for x in range(len(movies)):
            row = movies[x]
            writer.writerow(row)
    csvfile.close()
    
main_fun()

import pandas as pd

ds = pd.read_csv("movies.csv","utf-8")    
ds.tail()

Planet Earth II
Planet Earth
Band of Brothers
Breaking Bad
Chernobyl
Blue Planet II
The Wire
Our Planet
Cosmos: A Spacetime Odyssey
Cosmos
Avatar: The Last Airbender
Game of Thrones
Rick and Morty
The Sopranos
The World at War
The Last Dance
Life
Scam 1992: The Harshad Mehta Story
Fullmetal Alchemist: Brotherhood
The Vietnam War

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:58: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

                        Name,Rating
23                 Human Planet,9.0
24                      Persona,9.0
25  Batman: The Animated Series,9.0
26        The Beatles Anthology,9.0
27                Frozen Planet,9.0